<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Weebly</title>
	<meta name="author" content="Joshua Ross" />
	<meta name="description" content="Weebly, Site Builder" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/reset.min.css" rel="stylesheet" media="screen">
	<link href="/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen">
	<link href="/css/style.css" rel="stylesheet" media="screen">


</head>
<body>
    <div class="container">
        <div class="header">
	        <img src="/img/Weebly-Logo.png">
	    </div>
		<div id="application">

		</div>
		<div id="page">
		    <div class="wrapper">
			    <nav>
			        //insert pages here

			    </nav>
			    <header>
			        //image here

			    </header>
			    <div id="content" class="droppable">
			        <div class="text droppable">
				        <h1>Add Title Here</h1>
				        <p>
				            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
				            ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
				            ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur
				            et. Maecenas sed diam eget risus varius blandit sit amet non magna.
				            Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus
				            et magnis dis parturient montes. nascetur ridiculus mus. Curabitur blandit
				            tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				            Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet,
				            consectetur adipiscing elit.
	                    </p

			        </div>
			    </div>
		    </div>

		</div>

    </div>
    	<!-- Load the script "js/main.js" as our entry point -->
	<script data-main="/js/main" src="/js/lib/require/require.js"></script>
</body>
</html>