@font-face {
	font-family: ProximaNova;
	src: url(/font/ProximaNova-Reg.otf);
}

@font-face {
	font-family: ProximaNovaBold;
	src: url(/font/ProximaNova-Sbold.otf);
	font-weight: bold;
}

@font-face {
	font-family: ProximaNovaItalic;
	src: url(/font/ProximaNova-RegIt.otf);
	font-style: italic;
}

* {
	font-family: ProximaNova;
}

.clear {
	clear:both;
}

.container {
	width: 1200px;
}

.container #application,.container #page {
	float: left;
}

.header {
	background-color: #518dca;
	padding-left: 32px;
}

#application {
	width: 237px;
	color: #5e768e;
	background-color: #233e50;
	height: 896px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: ProximaNovaBold;
}

#application header {
	color: #9cb3ca;
	background-color: #4f657b;
	border: 1px solid #000;
	border-right: 0;
	border-left: 0;
	text-align: center;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
}

#application section {
	border: 1px solid #000;
	border-width: 1px 0 1px 0;
}

#templates section {
	padding: 12px;
}

#templates .page {
	margin: 12px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #518dca;
	border-bottom-color: 2px solid #233240;
}

#templates .page input{
	font-size: 13px;
	text-transform: uppercase;
	border: 0;
	padding: 0;
	background: none;
	color: #FFF;
	padding: 5px;
	margin: 6px 5px;
	width: 100px;
}

#templates .page input:focus {
	outline: none;
}

#templates .controls {
	float: right;
	margin: 10px 10px 0 0;
}

#templates span.delete {
	background: url(/img/Add-Delete-Edit-Icons.png) 25px -12px;
	height: 15px;
	display: inline-block;
	width: 15px;
	margin-left: 5px;
}
#templates span.delete:hover {
	background: url(/img/Add-Delete-Edit-Icons.png) 25px -31px;
}

#templates .page.confirm {
	background-color: #d86a65;
}

#templates span.edit {
	background: url(/img/Add-Delete-Edit-Icons.png) -34px -12px;
	height: 15px;
	display: inline-block;
	width: 15px;
}
#templates span.edit:hover {
	background: url(/img/Add-Delete-Edit-Icons.png) -34px -31px;
}

#templates .page.add {
	border: 2px solid #4f657b;
	background: none;
}

#templates span.add {
	background: url(/img/Add-Delete-Edit-Icons.png) -12px -12px;
	height: 15px;
	display: inline-block;
	width: 15px;
}
#templates span.add:hover {
	background: url(/img/Add-Delete-Edit-Icons.png) -12px -31px;
}


#application .element {
	height: 75px;
	padding: 32px 32px 16px 32px;
	border: 1px solid #000;
	float: left;
}

#application .element:hover {
	background-color: #3d5266;
}

#application .element span {
	position: relative;
	top: 8px;
	left: 8px;
}


#application .element.top {
	border-top: 0;
	border-bottom: 0;
}
#application .element.left {
	border-right: 0;
}

.element .title, 
.element .text,
.element .image,
.element .nav {
	height: 56px;
	width: 53px;
}

.element .title{
	background: url(/img/Element-Icons.png) -9px -7px;
}
.element .text{
	background: url(/img/Element-Icons.png) -63px -7px;	
}
.element .image{
	background: url(/img/Element-Icons.png) -117px -7px;
}
.element .nav{
	background: url(/img/Element-Icons.png) -171px -7px;	
}

.site-grid {
	padding: 15px 30px;
}

.site-grid > div {
	display:inline-block;
}

.switch-label {
	line-height: 25px;
	vertical-align: top;
	margin-right: 64px
}

.switch input {
    display: none;
}

.switch input + label {
	background: url(/img/Toggle-Switch.png) -6px -6px no-repeat;
	height: 25px;
	width: 50px;
	display: inline-block;
	padding: 0;
}

.switch input + label:hover {
	background: url(/img/Toggle-Switch.png) -6px -31px no-repeat;
	height: 25px;
	width: 50px;
	display: inline-block;
	padding: 0;
/* 	-webkit-transition: background 1s ease;  
    -moz-transition: background 1s ease;  
    -o-transition: background 1s ease;  
    -ms-transition: background 1s ease;  
    transition: background 1s ease;  */
}

.switch input:checked + label {
	background: url(/img/Toggle-Switch.png) -6px -56px no-repeat;
	height: 25px;
	width: 50px;
	display: inline-block;
	padding: 0;
	
}

#page {
	width: 963px;
}

#page .wrapper {
	padding: 25px 80px;
}

