@font-face {
	font-family: ProximaNova;
	src: url(/font/ProximaNova-Reg.otf);
}

@font-face {
	font-family: ProximaNovaBold;
	src: url(/font/ProximaNova-Sbold.otf);
	font-weight: bold;
}

@font-face {
	font-family: ProximaNovaItalic;
	src: url(/font/ProximaNova-RegIt.otf);
	font-style: italic;
}

* {
	font-family: ProximaNova;
	font-size: 13px;
}

.clear {
	clear:both;
}

.container {
	width: 1200px;
}

.container #application,.container #page {
	float: left;
}

.header {
	background-color: #518dca;
	padding-left: 32px;
}

#application {
	width: 237px;
	color: #5e768e;
	background-color: #233e50;
	height: 896px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: ProximaNovaBold;
}

#application header {
	color: #9cb3ca;
	background-color: #4f657b;
	border: 1px solid #000;
	border-right: 0;
	border-left: 0;
	text-align: center;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
}

#application section {
	border: 1px solid #000;
	border-width: 1px 0 1px 0;
}

#pages section {
	padding: 12px;
}

#pages .page {
	margin: 12px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #4f657b;
	border-bottom-color: 2px solid #233240;
}

#pages .page.selected {
	background-color: #518dca;
}

#pages .page input{
	font-size: 13px;
	text-transform: uppercase;
	border: 0;
	padding: 0;
	background: none;
	color: #FFF;
	padding: 5px;
	margin: 6px 5px;
	width: 100px;
}

#pages .page input:focus {
	outline: none;
}

#pages .controls {
	float: right;
	margin: 10px 10px 0 0;
}

#pages span.delete {
	background: url(/img/Add-Delete-Edit-Icons.png) 25px -12px;
	height: 15px;
	display: inline-block;
	width: 15px;
	margin-left: 5px;
}
#pages span.delete:hover {
	background: url(/img/Add-Delete-Edit-Icons.png) 25px -31px;
}

#pages .page.confirm {
	background-color: #d86a65;
}
#pages .page.confirm span.edit {
	display:none;
}

#pages span.edit {
	background: url(/img/Add-Delete-Edit-Icons.png) -34px -12px;
	height: 15px;
	display: inline-block;
	width: 15px;
}
#pages span.edit:hover {
	background: url(/img/Add-Delete-Edit-Icons.png) -34px -31px;
}

#pages .page.add {
	border: 2px solid #4f657b;
	background: none;
	color: #4f657b;
}

#pages .page.add input {
	color: #4f657b;
}

#pages span.add {
	background: url(/img/Add-Delete-Edit-Icons.png) -12px -12px;
	height: 15px;
	display: inline-block;
	width: 15px;
}
#pages span.add:hover, #pages .page.add:hover span.add {
	background: url(/img/Add-Delete-Edit-Icons.png) -12px -31px;
}


#application .element {
	height: 75px;
	padding: 31px 31px 16px 32px;
	border: 1px solid #000;
	float: left;
}

#application .element:hover {
	background-color: #3d5266;
}

#application .element span {
	position: relative;
	top: 8px;
	left: 8px;
}


#application .element.top {
	border-top: 0;
	border-bottom: 0;
}
#application .element.left {
	border-right: 0;
}

.element .title, 
.element .text,
.element .image,
.element .nav {
	height: 56px;
	width: 53px;
}

.element .title{
	background: url(/img/Element-Icons.png) -9px -7px;
}
.element .text{
	background: url(/img/Element-Icons.png) -63px -7px;	
}
.element .image{
	background: url(/img/Element-Icons.png) -117px -7px;
}
.element .nav{
	background: url(/img/Element-Icons.png) -171px -7px;	
}

.site-grid {
	padding: 15px 30px;
}

.site-grid > div {
	display:inline-block;
}

.switch-label {
	line-height: 25px;
	vertical-align: top;
	margin-right: 64px
}

.switch input {
    display: none;
}

.switch input + label {
	background: url(/img/Toggle-Switch.png) -6px -6px no-repeat;
	height: 25px;
	width: 50px;
	display: inline-block;
	padding: 0;
}

.switch input + label:hover {
	background: url(/img/Toggle-Switch.png) -6px -31px no-repeat;
	height: 25px;
	width: 50px;
	display: inline-block;
	padding: 0;
/* 	-webkit-transition: background 1s ease;  
    -moz-transition: background 1s ease;  
    -o-transition: background 1s ease;  
    -ms-transition: background 1s ease;  
    transition: background 1s ease;  */
}

.switch input:checked + label {
	background: url(/img/Toggle-Switch.png) -6px -56px no-repeat;
	height: 25px;
	width: 50px;
	display: inline-block;
	padding: 0;
	
}

#page {
	width: 963px;
}

#page .wrapper {
	padding: 20px 80px;
}

#page .type-4 .button {
	padding: 10px 15px;
	width: 96px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #8498ac;
	background-color: #FFF;
	color: #97aabc;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 10px;
}

#page .type-4 .button.selected {
	background-color: #97aabc;
	color: #FFF;
}

#page .type-3 {
	margin: 48px 0;
	height: 300px;
	background: #eff2f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #c0ccd8;
}

#page .type-3 div {
	position: relative;
	top: 25%;
	width: 104px;
	margin: auto;
}

#page .type-3 div.container div {
	height: 104px;
	background: #FFF url(/img/Element-Icons@2x.png) -234px -15px no-repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #FFF;
}

#page .element {
	margin: 20px 0;
}

#page .element .content{
	padding: 10px;
}

#page .element:hover > div {
	border: 2px solid #8fc7ff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#page .element.confirm > div {
	border: 2px solid #ef7a74;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


#page .element:hover .content, #page .element.confirm .content {
	padding: 8px;
}

#page .element:hover .delete {
	background: url(/img/Delete-Element.png) -11px -10px no-repeat;
	height: 36px;
	width: 36px;
	float: right;
	margin: -2px -2px 0 0;
	
}

#page .element.confirm .delete {
	background: url(/img/Delete-Element.png) -54px -10px no-repeat;
	height: 36px;
	width: 36px;
	float: right;
	margin: -2px -2px 0 0;
}


/* #page .element > div:hover .close {
	border-top: 25px solid #8fc7ff;
	border-left: 25px solid #FFF;
	height: 0;
	width: 0;
	float: right;
	position: relative;
	top: -5px;
	right: -5px;
}
 */
 
#page .type-1 { /* title */
	font-size: 25px;
	font-family: ProximaNovaBold;
	font-weight: bold;
}

#page .type-2 { /* text */
	
}

#page .type-3 { /* image */
	margin: 48px 0;
	height: 300px;
	background: #eff2f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #c0ccd8;
}